/*/////////////////About/////////////////*/

.about-info {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: stretch;
	width: 100%;
}

.about-info-left {
	width: 48%;
}

.about-info-rigth {
	width: 48%;
}

.border-middle {
	border-right: 1px solid #e5e5e5;
}

.about-info-left__img {
	width: 100%;
	height: 15.72vw;
	overflow: hidden;
	position: relative;
}

.about-info-left__img img {
	width:100%;
	position: absolute;
	display: block;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
	
}

.about-info-left__text {
	margin-top: 1.3vw;
	padding-bottom: 1.6vw;
	border-bottom: 1px solid #e6e6e6;
	color: #a3a3a3;
	font-size: 0.93vmax;
	line-height: 1.56vmax;
	margin-bottom: 1.56vw;
}

.about-info-left__headline {
	font-size: 1.25vw;
	line-height: 1.35vw;
	color: #000000;
	margin-bottom: 0.88vw;
	font-weight: 300;
}

.about-info-left__text_indent {
	margin-bottom: 2.3vw;
}

.about-info__title {
	font-size: 1.25vw;
	font-weight: 300;
	line-height: 1.35vw;
	color: #000;
}

.about-info__titleOur {
	font-size: 1.25vw;
	font-weight: 300;
	line-height: 1.35vw;
	color: #000;
	margin-bottom: 1.14vw;
}

.staff {
	width: 100%;
}

.staff-block {
	margin-top: 1.14vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-bottom: 1.56vw;
}

.staff-block-box {
	width: 31.5%;
	height: 9.3vw;
	position: relative;
	overflow: hidden;
	margin-right: 2.7%;
	margin-bottom: 1vw;
}

.staff-block-box:nth-of-type(3n) {
	margin-right: 0;
}

.staff-block-box__img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
  	z-index: 0;
}

.staff-block-box__link {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	z-index: 1;
	height: inherit;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #2db8b7;
    opacity: 0;
    color: #fff;
    text-decoration: none;
    font-size: 0.72vw;
}

.staff-block-box__link:hover {
	opacity: 0.9;
	transition: 0.30s;
}


.staff-block-box h4 {
	font-weight: 700;
	font-size: 0.83vw;
	text-transform: uppercase;
}

.staff-block-you {
	width: 31.5%;
	height: 9.3vw;
	position: relative;
	overflow: hidden;
	margin-right: 0;
	margin-bottom: 1vw;
	background-color: #ebebeb;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	
}

.staff-block-you__text {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.25vw;
	line-height: 1.35vw;
	background-color: #fff;
	color: #000;
	border-radius: 0.42vw;
	padding: 0.99vw 1vw;
}


.line-t {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: #727272;
}

.line-t p:last-of-type {
	color:#000;
}

.line-b {
	width: 100%;
	height: 1.8vw;
	border: 1px solid #ececec;
	margin-top: 0.41vw;
	margin-bottom: 0.93vw;
}

.about-info-list li:last-of-type {
	margin-bottom: 1.56vw;
}
.line-b_color {
	width: inherit;
	height: inherit;
	background-color: #e2e2e2;
}

.Testimonials-up {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 4.2vw;
	margin-top: 1.2vw;
}

.Testimonials-up__wrapper {
	position: relative;
	overflow: hidden;
	height: 4.2vw;
	width: 4.2vw;
}
.Testimonials-up__img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
  	
}

.Testimonials-up__text {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-style: italic;
	font-size: 0.8vw;
	color: #ffffff;
	background-color: #1ab5b3;
	height: inherit;
	width: inherit;
	padding-left: 1.2vw;
}

.Testimonials-down {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid #ececec;
	width: 100%;
	height: 6.87vw;
	color: #a3a3a3;
	padding: 1.3vw  2.39vw 1.51vw  1.56vw;
	line-height: 1.56vw;
	font-weight: 300;
	font-size: 0.93vw;
	margin-bottom: 1.51vw;
	
}

.Services-info__lists {
	margin-top: 1.51vw;
}

.Services-info__lists ul {
	list-style-type: square;
	list-style-position: inside;
	color: #848484;
}

.Services-info__lists li {
	margin-bottom: 1vw;
	font-weight: 300;
	font-size: 0.73vw;
}