
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	 box-sizing: border-box;
}



body {
	font-family: 'Roboto', sans-serif;
	background-color: #b4b7b8;
}

/*Sidebar*/

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	height: 100vh;
	width: 15.62vw;
	background-color: #242b2e;
	color: #6b7072;
	box-shadow: 8px 0px 20px 0px rgba(31, 31, 31, 0.77);
	display: flex;
	flex-direction: column;
	flex-flow: column nowrap;

}

.logo {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	height: 11.57vh;
	background-color: #fff;
}
.logo_img {
	width: 6vw;
}
.nav li{
	list-style-type: none;
	border-bottom: 1px solid #293134;
}
.nav li:first-of-type {
	border-bottom: 0;
}
.nav__item {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.93vmax;
	line-height: 1.66vmax;
	height: 3.22vmax;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	background-color: #2f373b;
    background: rgba(51,59,63,1);
    background: -moz-linear-gradient(top, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,59,63,1)), color-stop(100%, rgba(46,54,58,1)));
    background: -webkit-linear-gradient(top, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    background: -o-linear-gradient(top, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    background: -ms-linear-gradient(top, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    background: linear-gradient(to bottom, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333b3f', endColorstr='#2e363a', GradientType=0 );
    padding-right: 1.3vmax;
}

.nav__item:hover {
	cursor: pointer;
	background: rgba(48,188,186,1);
    background: -moz-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,188,186,1)), color-stop(100%, rgba(24,164,162,1)));
    background: -webkit-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: -o-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: linear-gradient(to bottom, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bcba', endColorstr='#18a4a2', GradientType=0 );
}

.filter_title {
	color: #1ab5b3;
	fill: #1ab5b3;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	font-size: 0.98vmax;
	padding: 1.25vmax;
}

.filter_title__icon {
	width: 0.88vmax;
	height: 0.88vmax;
	margin-left: 0.62vmax;
}

.filter_list li{
  	list-style-type: none;
  	line-height: 1.25vmax;
  	display: flex;
 	flex-flow: row nowrap;
 	align-items: flex-end;
 	justify-content: flex-end;
 	align-items: center;

}

.filter_list__item {
	
	margin-right: 1.25vmax;
	color: #6b7072;
	font-size: 0.67vmax;
	line-height: 1.25vw;
	text-decoration: none;
	
}

.filter_list__item:hover {
	color: #fff;
}



.social-icon {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	padding: 1.45vmax 1.25vmax 1.2vmax 0;
	border-top: 1px solid #1e282b;
	width: 100%;
	margin-top: 1.56vmax;
}

.social-icon__image{
	width: 1.25vmax;
	height: 1.25vmax;	
}

.social-icon__link {
	margin-left: 0.52vmax;
}

.social-icon__link:hover {
	transform: scale(1.10);
}

.copy {
	font-size: 0.62vmax;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: center;
	width: 100%;
	padding-right: 1.25vmax;
	color: #6b7072;
}

/*//////////////////////content//////////////////////*/


.content {
	width: 100%;
	min-height: 100vh;
	padding-left: 15.62vw;
}

.content-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.content-box {
	height: 16.19vw;
	max-width: 21.09vw;
	width: 25%;
	position: relative;
	overflow: hidden;
}

.content-box__img {
	height: 100%;
	position: absolute;
	z-index: 1;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
}

.content-box__hover {
	position: absolute;
	z-index: 2;
	top:0;
	left: 0;
	display: flex;
	width: 100%;
	height: inherit;
	background-color:  #2db8b7;
	opacity: 0.9;
	color: #fff;
	flex-flow: column nowrap;
	align-items: center;
	text-decoration: none;
	opacity: 0;
}

.content-box__hover:hover {
	opacity: 0.8;
}

.arrow {
	width: 3vmax;
	height: 3vmax;
	fill: #fff;
}

.content-box__hover h2 {
	font-size: 1.25vmax;
	margin-top: 4.1vmax;
	font-weight: 300;
}

.content-box__hover h3 {
	font-size: 0.62vmax;
	padding: 0.36vmax 0 0.83vmax 0;
	border-bottom: 1px solid #fff;
	margin-bottom: 1vmax;
	font-weight: 300;
}

.info {
	position: fixed;
	top: 0;
	right: 0;
	width: 4.68vw;
	height: 4.68vw;
	background-color: #2db8b7;
	cursor: pointer;
	z-index: 5;
	fill: #fff;
}

.info__icon {
	margin: 0.8vw;
}

.info-box {
	z-index: 5;
	position: fixed;
	top: 4.68vw;
	right: 0;
	background-color: #000000;
	opacity: 0.7;
	padding: 1vw 3.8vw 1vw 1vw ;
	transform: translateX(100%);
	transition: all 0.40s;
}

.info-box.open {
	transform: translateX(0%);
	transition: all 0.40s;
	}

.info-box__icon {
	height: 0.88vw;
	margin: 0 0.62vmax 0 0;
	fill: #fff;
}
.info-box__item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	list-style-type: none;
	font-size: 0.83vmax;
	line-height: 1vw;
	margin-bottom: 1vw;
	color: #fff;
}

.info-box__item:last-of-type {
	margin-bottom: 0;
}

.nav__item_active {
	background: rgba(48,188,186,1);
    background: -moz-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,188,186,1)), color-stop(100%, rgba(24,164,162,1)));
    background: -webkit-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: -o-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: linear-gradient(to bottom, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bcba', endColorstr='#18a4a2', GradientType=0 );
}

/*///////////////Work/////////////////*/

.wrapper {
	margin: 1.3vw;
	padding: 1.56vw 1.56vw 0 1.56vw;
	background-color: #fff;
}

.work-info {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: stretch;
	width: 100%;
}

.work-info-left {
	width: 48%;
	
}

.work-info-rigth {
	width: 48%;
	
}

.border-middle {
	border-right: 1px solid #e5e5e5;
}

.work-info-left__img {
	width: 100%;
	height: 29.2vw;
	overflow: hidden;
	position: relative;

}

.work-info-left__img img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
}

.work-info-left__text {
	margin-top: 1.3vw;
	padding-bottom: 1.6vw;
	border-bottom: 1px solid #e6e6e6;
	color: #a3a3a3;
	font-size: 0.93vmax;
	line-height: 1.56vmax;
	margin-bottom: 1.56vw;
}

.work-info-left__headline {
	font-size: 1.25vw;
	line-height: 1.35vw;
	color: #000000;
	margin-bottom: 0.88vw;
	font-weight: 300;
}

.work-info-left__text_indent {
	margin-bottom: 2.3vw;
}

.work-info__title {
	font-size: 1.25vw;
	font-weight: 300;
	line-height: 1.35vw;
	color: #000;
}

.prj-info-list__item {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.72vw;
	line-height: 1.56vw;
	color: #848484;
	border-bottom: 1px solid #e6e6e6;
	padding: 0.72vw 0;
}

.prj-info-list__img {
	margin-right: 0.78vw;
}

.tags {
	margin-top: 1.56vw;
}

.tags-box {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin-top: 1.66vw;
	margin-bottom: 2.2vw;
	
}

.tags-box__link {
	text-decoration: none;
	color: #a3a3a3;
	font-size: 0.67vw;
	line-height: 1.66px;
	border: 1px solid #dbdbdb;
	border-radius: 0.41vw;
	padding: 0.72vw 0.93vw;
	margin-right: 0.52vw;
}

.tags-box__link:hover {
	background-color:#40bcba;
	cursor: pointer;
	border-color: #40bcba;
	transition: 0.30s;
	color: #fff;
}

.prj-gallery-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-top: 0.93vw;
	margin-bottom: 0.93vw;
}

.prj-gallery-box__wrapper {
	width: 4.06vw;
	height: 4.06vw;
	margin: 0 0.52vw 0.62vw 0;
	position: relative;
	overflow: hidden;
}
.prj-gallery-box__img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
}

.prj-gallery-box__img:hover {
	cursor: pointer;
	transform: scale(1.05);
	transition: 0.30s;
}

.Prj-features {
	margin-top: 0.78vw;
}

.Prj-features__list {
	margin-top: 0.78vw;
}

.Prj-features li {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
	color: #848484;
	font-size: 0.73vw;
	font-weight: 400;
	line-height: 1.56vw;
}

.Prj-features__img {
	height: 0.62vw;
	width: 0.62vw;
	margin-right: 0.62vw;
}

.relate-proj-box {
	margin-top: 1.14vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-bottom: 1.56vw
}

.relate-proj-box__wrapper {
	width: 12.5vw;
	height: 9.48vw;
	position: relative;
	overflow: hidden;
}
.relate-proj-box__img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
}

.relate-proj-box__img:hover {
	opacity: 0.8;
	cursor: pointer;
}

/*/////////////////About/////////////////*/

.about-info {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: stretch;
	width: 100%;
}

.about-info-left {
	width: 48%;
}

.about-info-rigth {
	width: 48%;
}

.border-middle {
	border-right: 1px solid #e5e5e5;
}

.about-info-left__img {
	width: 100%;
	height: 15.72vw;
	overflow: hidden;
	position: relative;
}

.about-info-left__img img {
	width:100%;
	position: absolute;
	display: block;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
	
}

.about-info-left__text {
	margin-top: 1.3vw;
	padding-bottom: 1.6vw;
	border-bottom: 1px solid #e6e6e6;
	color: #a3a3a3;
	font-size: 0.93vmax;
	line-height: 1.56vmax;
	margin-bottom: 1.56vw;
}

.about-info-left__headline {
	font-size: 1.25vw;
	line-height: 1.35vw;
	color: #000000;
	margin-bottom: 0.88vw;
	font-weight: 300;
}

.about-info-left__text_indent {
	margin-bottom: 2.3vw;
}

.about-info__title {
	font-size: 1.25vw;
	font-weight: 300;
	line-height: 1.35vw;
	color: #000;
}

.about-info__titleOur {
	font-size: 1.25vw;
	font-weight: 300;
	line-height: 1.35vw;
	color: #000;
	margin-bottom: 1.14vw;
}

.staff {
	width: 100%;
}

.staff-block {
	margin-top: 1.14vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-bottom: 1.56vw;
}

.staff-block-box {
	width: 31.5%;
	height: 9.3vw;
	position: relative;
	overflow: hidden;
	margin-right: 2.7%;
	margin-bottom: 1vw;
}

.staff-block-box:nth-of-type(3n) {
	margin-right: 0;
}

.staff-block-box__img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
  	z-index: 0;
}

.staff-block-box__link {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	z-index: 1;
	height: inherit;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #2db8b7;
    opacity: 0;
    color: #fff;
    text-decoration: none;
    font-size: 0.72vw;
}

.staff-block-box__link:hover {
	opacity: 0.9;
	transition: 0.30s;
}


.staff-block-box h4 {
	font-weight: 700;
	font-size: 0.83vw;
	text-transform: uppercase;
}

.staff-block-you {
	width: 31.5%;
	height: 9.3vw;
	position: relative;
	overflow: hidden;
	margin-right: 0;
	margin-bottom: 1vw;
	background-color: #ebebeb;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	
}

.staff-block-you__text {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.25vw;
	line-height: 1.35vw;
	background-color: #fff;
	color: #000;
	border-radius: 0.42vw;
	padding: 0.99vw 1vw;
}


.line-t {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: #727272;
}

.line-t p:last-of-type {
	color:#000;
}

.line-b {
	width: 100%;
	height: 1.8vw;
	border: 1px solid #ececec;
	margin-top: 0.41vw;
	margin-bottom: 0.93vw;
}

.about-info-list li:last-of-type {
	margin-bottom: 1.56vw;
}
.line-b_color {
	width: inherit;
	height: inherit;
	background-color: #e2e2e2;
}

.Testimonials-up {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 4.2vw;
	margin-top: 1.2vw;
}

.Testimonials-up__wrapper {
	position: relative;
	overflow: hidden;
	height: 4.2vw;
	width: 4.2vw;
}
.Testimonials-up__img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
  	
}

.Testimonials-up__text {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-style: italic;
	font-size: 0.8vw;
	color: #ffffff;
	background-color: #1ab5b3;
	height: inherit;
	width: inherit;
	padding-left: 1.2vw;
}

.Testimonials-down {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid #ececec;
	width: 100%;
	height: 6.87vw;
	color: #a3a3a3;
	padding: 1.3vw  2.39vw 1.51vw  1.56vw;
	line-height: 1.56vw;
	font-weight: 300;
	font-size: 0.93vw;
	margin-bottom: 1.51vw;
	
}

.Services-info__lists {
	margin-top: 1.51vw;
}

.Services-info__lists ul {
	list-style-type: square;
	list-style-position: inside;
	color: #848484;
}

.Services-info__lists li {
	margin-bottom: 1vw;
	font-weight: 300;
	font-size: 0.73vw;