
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	 box-sizing: border-box;
}



body {
	font-family: 'Roboto', sans-serif;
	background-color: #b4b7b8;
}

.contact__body-img {
	background-image: url(../image/map.png);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Sidebar*/

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	height: 100vh;
	width: 15.62vw;
	background-color: #242b2e;
	color: #6b7072;
	box-shadow: 8px 0px 20px 0px rgba(31, 31, 31, 0.77);
	display: flex;
	flex-direction: column;
	flex-flow: column nowrap;

}

.logo {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	height: 11.57vh;
	background-color: #fff;
}
.logo_img {
	width: 6vw;
}
.nav li{
	list-style-type: none;
	border-bottom: 1px solid #293134;
}
.nav li:first-of-type {
	border-bottom: 0;
}
.nav__item {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.93vmax;
	line-height: 1.66vmax;
	height: 3.22vmax;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	background-color: #2f373b;
    background: rgba(51,59,63,1);
    background: -moz-linear-gradient(top, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,59,63,1)), color-stop(100%, rgba(46,54,58,1)));
    background: -webkit-linear-gradient(top, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    background: -o-linear-gradient(top, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    background: -ms-linear-gradient(top, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    background: linear-gradient(to bottom, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333b3f', endColorstr='#2e363a', GradientType=0 );
    padding-right: 1.3vmax;
}

.nav__item:hover {
	cursor: pointer;
	background: rgba(48,188,186,1);
    background: -moz-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,188,186,1)), color-stop(100%, rgba(24,164,162,1)));
    background: -webkit-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: -o-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: linear-gradient(to bottom, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bcba', endColorstr='#18a4a2', GradientType=0 );
}

.filter_title {
	color: #1ab5b3;
	fill: #1ab5b3;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	font-size: 0.98vmax;
	padding: 1.25vmax;
}

.filter_title__icon {
	width: 0.88vmax;
	height: 0.88vmax;
	margin-left: 0.62vmax;
}

.filter_list li{
  	list-style-type: none;
  	line-height: 1.25vmax;
  	display: flex;
 	flex-flow: row nowrap;
 	align-items: flex-end;
 	justify-content: flex-end;
 	align-items: center;

}

.filter_list__item {
	
	margin-right: 1.25vmax;
	color: #6b7072;
	font-size: 0.67vmax;
	line-height: 1.25vw;
	text-decoration: none;
	
}

.filter_list__item:hover {
	color: #fff;
}



.social-icon {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	padding: 1.45vmax 1.25vmax 1.2vmax 0;
	border-top: 1px solid #1e282b;
	width: 100%;
	margin-top: 1.56vmax;
}

.social-icon__image{
	width: 1.25vmax;
	height: 1.25vmax;	
}

.social-icon__link {
	margin-left: 0.52vmax;
}

.social-icon__link:hover {
	transform: scale(1.10);
}

.copy {
	font-size: 0.62vmax;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: center;
	width: 100%;
	padding-right: 1.25vmax;
	color: #6b7072;
}

/*//////////////////////content//////////////////////*/


.content {
	width: 100%;
	min-height: 100vh;
	padding-left: 15.62vw;
}

.content-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.content-box {
	height: 16.19vw;
	max-width: 21.09vw;
	width: 25%;
	position: relative;
	overflow: hidden;
}

.content-box__img {
	height: 100%;
	position: absolute;
	z-index: 1;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
}

.content-box__hover {
	position: absolute;
	z-index: 2;
	top:0;
	left: 0;
	display: flex;
	width: 100%;
	height: inherit;
	background-color:  #2db8b7;
	opacity: 0.9;
	color: #fff;
	flex-flow: column nowrap;
	align-items: center;
	text-decoration: none;
	opacity: 0;
}

.content-box__hover:hover {
	opacity: 0.8;
}

object{
    pointer-events: none;
}
.arrow {
	width: 3vmax;
	height: 3vmax;
}

.content-box__hover h2 {
	font-size: 1.25vmax;
	margin-top: 4.1vmax;
	font-weight: 300;
}

.content-box__hover h3 {
	font-size: 0.62vmax;
	padding: 0.36vmax 0 0.83vmax 0;
	border-bottom: 1px solid #fff;
	margin-bottom: 1vmax;
	font-weight: 300;
}

.info {
	position: fixed;
	top: 0;
	right: 0;
	width: 4.68vw;
	height: 4.68vw;
	background-color: #2db8b7;
	cursor: pointer;
	z-index: 5;
}

.info__icon {
	margin: 0.8vw;
}

.info-box {
	z-index: 5;
	position: fixed;
	top: 4.68vw;
	right: 0;
	background-color: #000000;
	opacity: 0.7;
	padding: 1vw 3.8vw 1vw 1vw ;
	transform: translateX(100%);
	transition: all 0.40s;
}

.info-box.open {
	transform: translateX(0%);
	transition: all 0.40s;
}

.info-box__icon {
	height: 0.88vw;
	margin: 0 0.62vmax 0 0;
}

.info-box__item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	list-style-type: none;
	font-size: 0.83vmax;
	line-height: 1vw;
	margin-bottom: 1vw;
	color: #fff;
}

.info-box__item:last-of-type {
	margin-bottom: 0;
}

.nav__item_active {
	background: rgba(48,188,186,1);
    background: -moz-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,188,186,1)), color-stop(100%, rgba(24,164,162,1)));
    background: -webkit-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: -o-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: linear-gradient(to bottom, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bcba', endColorstr='#18a4a2', GradientType=0 );
}

/*///////////////Work/////////////////*/

.wrapper {
	margin: 1.3vw;
	padding: 1.56vw 1.56vw 0 1.56vw;
	background-color: #fff;
}

.work-info {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: stretch;
	width: 100%;
}

.work-info-left {
	width: 48%;
	
}

.work-info-rigth {
	width: 48%;
	
}

.border-middle {
	border-right: 1px solid #e5e5e5;
}

.work-info-left__img {
	width: 100%;
	height: 29.2vw;
	overflow: hidden;
	position: relative;

}

.work-info-left__img img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
}

.work-info-left__text {
	margin-top: 1.3vw;
	padding-bottom: 1.6vw;
	border-bottom: 1px solid #e6e6e6;
	color: #a3a3a3;
	font-size: 0.93vmax;
	line-height: 1.56vmax;
	margin-bottom: 1.56vw;
}

.work-info-left__headline {
	font-size: 1.25vw;
	line-height: 1.35vw;
	color: #000000;
	margin-bottom: 0.88vw;
	font-weight: 300;
}

.work-info-left__text_indent {
	margin-bottom: 2.3vw;
}

.work-info__title {
	font-size: 1.25vw;
	font-weight: 300;
	line-height: 1.35vw;
	color: #000;
}

.prj-info-list__item {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.72vw;
	line-height: 1.56vw;
	color: #848484;
	border-bottom: 1px solid #e6e6e6;
	padding: 0.72vw 0;
}

.prj-info-list__img {
	margin-right: 0.78vw;
	width: 1.56vw;
	height: 1.56vw;
}

.tags {
	margin-top: 1.56vw;
}

.tags-box {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin-top: 1.66vw;
	margin-bottom: 2.2vw;
	
}

.tags-box__link {
	text-decoration: none;
	color: #a3a3a3;
	font-size: 0.67vw;
	line-height: 1.66px;
	border: 1px solid #dbdbdb;
	border-radius: 0.41vw;
	padding: 0.72vw 0.93vw;
	margin-right: 0.52vw;
}

.tags-box__link:hover {
	background-color:#40bcba;
	cursor: pointer;
	border-color: #40bcba;
	transition: 0.30s;
	color: #fff;
}

.prj-gallery-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-top: 0.93vw;
	margin-bottom: 0.93vw;
}

.prj-gallery-box__wrapper {
	width: 4.06vw;
	height: 4.06vw;
	margin: 0 0.52vw 0.62vw 0;
	position: relative;
	overflow: hidden;
}
.prj-gallery-box__img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
}

.prj-gallery-box__img:hover {
	cursor: pointer;
	transform: scale(1.05);
	transition: 0.30s;
}

.Prj-features {
	margin-top: 0.78vw;
}

.Prj-features__list {
	margin-top: 0.78vw;
}

.Prj-features li {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
	color: #848484;
	font-size: 0.73vw;
	font-weight: 400;
	line-height: 1.56vw;
}

.Prj-features__img {
	height: 0.62vw;
	width: 0.62vw;
	margin-right: 0.62vw;
}

.relate-proj-box {
	margin-top: 1.14vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-bottom: 1.56vw
}

.relate-proj-box__wrapper {
	width: 12.5vw;
	height: 9.48vw;
	position: relative;
	overflow: hidden;
}
.relate-proj-box__img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
}

.relate-proj-box__img:hover {
	opacity: 0.8;
	cursor: pointer;
}

/*///////////////BlogPost/////////////////*/

.blog-info-left__comment-list {
	margin-top: 1.19vw;
	width: 100%;
}

.blog-info-left__comment-list ul {
	list-style-type: none;
	position: relative;
}

.blog-info-left__comment-list li {
	margin-bottom: 1.66vw;
}

.blog-box-comment {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	width: 100%;

}

.blog-box-comment__description {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	width: 100%;
	padding-left: 1vw;
}

.blog-box-comment__wrap-img {
	position: relative;
	overflow: hidden;
	width: 4.71vw;
	height: 4.16vw;
}

.blog-box-comment__img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
}

.blog-box-comment__headline {
	color: #3c3c3c;
	font-size: 0.72vw;
	font-weight: 300;
}

.blog-box-comment__time-text {
	color: #d1d1d1;
	font-size: 0.72vw;
	font-weight: 300;
}

.blog-box-comment__border {
	width: 9.63vw;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 0.20vw;
	margin-top: 0.36vw;
}

.blog-box-comment__text {
	color: #a3a3a3;
	font-weight: 300;
	font-size: 0.93vw;	
	line-height: 1.35vw;

}

.blog-info-left__comment-list ul ul {
	margin-left: 2vw;
	padding-left: 3vw;
}

.blog-info-left__comment-list ul ul:before {
	content: '';
	display: block;
	background-image: url('../image/blog-link.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 2vw;
	height: 2vw;
	position: absolute;
	margin-left: -3vw;
}

.blog-info-left__form-comment {
	border-top: 1px solid #e6e6e6;
	padding-top: 1.45vw;
}
.blog-info-left__form {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 1.19vw;
	margin-bottom: 1.6vw;
}

.blog-left-form {
	width: 50%;
	padding-right: 0.5vw;
}

.blog-form__input {
	margin-bottom: 0.5vw;
}

.blog-left-form .blog-form__input:last-of-type {
	margin-bottom: 0;
}

.blog-form__input input, .blog-form__input textarea {
	border: 1px solid #eaeaea;
	font-size: 0.72vmax ;
	min-height: 3vw;
	width: 100%;
	padding: 0.93vw;
}

.form-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3vw;
	width: 3vw;
	border: 1px solid #eaeaea;
}

.form-icon__image {
	height: 1.56vw;
	width: 1.56vw;
}

.blog-form__input {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.blog-right-form {
	width: 50%;
}

.blog-right-form__textarea {
	resize: none;
	height: 6.5vw;
	padding-top: 1.3vw;
}

.blog-right-form__button {
	border: none;
    text-transform: uppercase;
    background-color: #1ab5b3;
    color: #fff;
    padding: 1.3vw;
    font-weight: 400;
    font-size: 0.72vw;
	width: 100%;
	height: 3vw;
 }

/*/////////////////Comment/////////////////*/

.contact__form-wrapper {
	width: 40vw;
	margin: 1.3vw;
	padding: 1.56vw 1.56vw 1.56vw 1.56vw;
	background-color: #fff;
}

.contact__form {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 1.19vw;
}

.contact-info	{
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 1.35vw;
	padding-bottom: 1.36vw;
}

.contact-info__text {
	color: #a3a3a3;
	font-size: 0.93vw;
	font-weight: 300;
	line-height: 1.5vw;
	margin-top: 1.14vw;
}	

/*/////////////////About/////////////////*/

.about-info {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: stretch;
	width: 100%;
}

.about-info-left {
	width: 48%;
}

.about-info-rigth {
	width: 48%;
}

.border-middle {
	border-right: 1px solid #e5e5e5;
}

.about-info-left__img {
	width: 100%;
	height: 15.72vw;
	overflow: hidden;
	position: relative;
}

.about-info-left__img img {
	width:100%;
	position: absolute;
	display: block;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
	
}

.about-info-left__text {
	margin-top: 1.3vw;
	padding-bottom: 1.6vw;
	border-bottom: 1px solid #e6e6e6;
	color: #a3a3a3;
	font-size: 0.93vmax;
	line-height: 1.56vmax;
	margin-bottom: 1.56vw;
}

.about-info-left__headline {
	font-size: 1.25vw;
	line-height: 1.35vw;
	color: #000000;
	margin-bottom: 0.88vw;
	font-weight: 300;
}

.about-info-left__text_indent {
	margin-bottom: 2.3vw;
}

.about-info__title {
	font-size: 1.25vw;
	font-weight: 300;
	line-height: 1.35vw;
	color: #000;
}

.about-info__titleOur {
	font-size: 1.25vw;
	font-weight: 300;
	line-height: 1.35vw;
	color: #000;
	margin-bottom: 1.14vw;
}

.staff {
	width: 100%;
}

.staff-block {
	margin-top: 1.14vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-bottom: 1.56vw;
}

.staff-block-box {
	width: 31.5%;
	height: 9.3vw;
	position: relative;
	overflow: hidden;
	margin-right: 2.7%;
	margin-bottom: 1vw;
}

.staff-block-box:nth-of-type(3n) {
	margin-right: 0;
}

.staff-block-box__img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
  	z-index: 0;
}

.staff-block-box__link {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	z-index: 1;
	height: inherit;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #2db8b7;
    opacity: 0;
    color: #fff;
    text-decoration: none;
    font-size: 0.72vw;
}

.staff-block-box__link:hover {
	opacity: 0.9;
	transition: 0.30s;
}


.staff-block-box h4 {
	font-weight: 700;
	font-size: 0.83vw;
	text-transform: uppercase;
}

.staff-block-you {
	width: 31.5%;
	height: 9.3vw;
	position: relative;
	overflow: hidden;
	margin-right: 0;
	margin-bottom: 1vw;
	background-color: #ebebeb;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	
}

.staff-block-you__text {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.25vw;
	line-height: 1.35vw;
	background-color: #fff;
	color: #000;
	border-radius: 0.42vw;
	padding: 0.99vw 1vw;
}


.line-t {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: #727272;
}

.line-t p:last-of-type {
	color:#000;
}

.line-b {
	width: 100%;
	height: 1.8vw;
	border: 1px solid #ececec;
	margin-top: 0.41vw;
	margin-bottom: 0.93vw;
}

.about-info-list li:last-of-type {
	margin-bottom: 1.56vw;
}
.line-b_color {
	width: inherit;
	height: inherit;
	background-color: #e2e2e2;
}

.Testimonials-up {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 4.2vw;
	margin-top: 1.2vw;
}

.Testimonials-up__wrapper {
	position: relative;
	overflow: hidden;
	height: 4.2vw;
	width: 4.2vw;
}
.Testimonials-up__img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
  	
}

.Testimonials-up__text {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-style: italic;
	font-size: 0.8vw;
	color: #ffffff;
	background-color: #1ab5b3;
	height: inherit;
	width: inherit;
	padding-left: 1.2vw;
}

.Testimonials-down {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid #ececec;
	width: 100%;
	height: 6.87vw;
	color: #a3a3a3;
	padding: 1.3vw  2.39vw 1.51vw  1.56vw;
	line-height: 1.56vw;
	font-weight: 300;
	font-size: 0.93vw;
	margin-bottom: 1.51vw;
	
}

.Services-info__lists {
	margin-top: 1.51vw;
}

.Services-info__lists ul {
	list-style-type: square;
	list-style-position: inside;
	color: #848484;
}

.Services-info__lists li {
	margin-bottom: 1vw;
	font-weight: 300;
	font-size: 0.73vw;
}

/*///////////////Blog/////////////////*/

.box-gal__image_size {
	height: 11.97vw;
}

.box-gal__image-last_size {
	height: 13.8vw;
}

.box-video__image_size {
	height: 9.58vw;
}

.box-stand__image_size {
	height: 7.34vw;
}

.box-stand__image-center_size {
	height: 16.45vw;
}

.post-wrap {
	margin: 1.3vw 1.3vw 0vw 1.3vw;
	min-height: 100vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.gallery-box {
	width: 15.31vw;
	height: auto;
	margin-bottom: 1.3vw;
	background-color: #fff;
	overflow: hidden;
}

.gallery-box__img-wrap {
	overflow: hidden;
	width: 100%;
	position: relative;
}

.gallery-box__img {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
}

.gallery-box__icon {
	width: 0.67vw;
	height: 0.78vw;
	margin: 0 0.36vw 0 1.14vw;
}

.gallery-box__text {
	color: #9c9c9c;
	font-size: 0.67vw;
	line-height: 1.15vw;
}

.gallery-box__comment {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 2.65vw;
}

.gallery-box__comments {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.gallery-box__data {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.gallery-box__description {
	padding: 1vw  1.14vw 1vw 1.14vw;
	border-bottom: 1px solid #e3e3e3;
}
.gallery-box__description h2 {
		color: #000;
		font-size: 0.93vw;
		margin-bottom: 0.68vw;
		font-weight: 400;
}

.img-box {
	width: 15.31vw;
	overflow: hidden;
	height: 13.64vw;
	position: relative;
	margin-bottom: 1.3vw;
}

.img-box__image {
	height: 100%;
	position: absolute;
  	top: 0;
  	left: -100%;
  	right: -100%;
  	bottom: 0;
  	margin: auto;
  	z-index: 1;
}

.img-box__hover {
	position: absolute;
	z-index: 2;
	top:0;
	left: 0;
	width: 100%;
	height: inherit;
	opacity: 0.9;
	color: #fff;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.img-box__hover:hover {
	opacity: 0.8;
}

.another-box {
	width: 15.31vw;
	height: 7.13vw;
	margin-bottom: 1.3vw;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: #1ab5b3;
	padding: 0 1.51vw 0 1.51vw;
}

.another-box h3 {
	text-align: center;
	font-weight: 200;
	font-size: 0.92vw;
	color: #fff;
	line-height: 1vw;
}

.another-box__link {
	font-style: italic;
	text-decoration: underline;
	color: #fff;
	line-height: 1.14vw;
	margin-top: 0.46vw;
	font-weight: 600;
	font-size: 0.73vw;
}

.aside-box {
	width: 15.31vw;
	height: auto;
	display: flex;
	margin-bottom: 1.3vw;
	flex-flow: row nowrap;
	justify-content: center;
}

.aside-box-left {
	width: 5%;
	height: 7.29vw;
	background-color: #1ab5b3;
}

.aside-box-post {
	width: 95%;
	height: 7.29vw;
	background-color: #242b2e;
	padding: 1.25vw 1.35vw  1.14vw 1.25vw  ;
}

.aside-box-post h3 {
	font-weight: 100;
	font-size: 1.09vw;
	line-height: 1.35vw;
	color: #fff;
}

.aside-box-post__text {
	color: #9c9c9c;
	font-size: 0.73vw;
	line-height: 1.25vw;
}

.citation-box {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin-bottom: 1.3vw;
	width: 15.31vw;
	height: auto;
	text-align: center;
	background-color: #242b2e;
}

.citation-box__text {
	color: #fff;
	margin: 1.82vw  1.47vw 1.14vw 1.51vw;
	font-style: italic;
	font-size: 1.09vw;
	line-height: 1.35vw;
	font-family: 'Domine', serif;
}
.citation-box__icon {
	width: 1.25vw;
	height: 0.88vw;
	margin-bottom: 0.93vw;
}

.citation-box__author {
	color: #1ab5b3;
	font-weight: 300;
	font-size: 0.93vw;
	margin-bottom: 1.77vw;
}

.add-post-wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.add-post {
	border: none;
	text-transform: uppercase;
	background-color: #1ab5b3;
	color: #fff;
	padding: 1.3vw;
	font-weight: 400;
	font-size: 1vw;
	text-align: center;
}


@media 
 only screen and ( min-device-width: 320px ) and 
 ( max-device-width: 480px ), 
 only screen and ( max-width: 320px ),
 only screen and ( min-device-width: 768px ) and 
 ( max-device-width: 1024px )

{
	.sidebar {
		position: relative;
		width: 100%;
		height: auto;
	}

	.logo_img {
    	width: 30vw;
	}

	.nav__item {
		justify-content: center;
		font-size: 1.93vmax;
	}

	.filter_title__icon {
	    width: 1.88vmax;
	    height: 1.88vmax;
	    margin-left: 0.62vmax;
	}

	.filter_title {
		font-size: 1.98vmax;
		justify-content: start;
		   padding: 1vw;
	}

	.filter_list {
	    display: flex;
	    flex-flow: row nowrap;
	    justify-content: space-between;
	    padding: 1vw 1vw 2vw 1vw;
	}

	.filter_list__item {
		margin: 0;
		font-size: 1.67vmax;
	}

	.social-icon {
		display: none;
	}

	.copy {
		display: none;
	}

	.content {
		padding-left: 0;
	}

	.content-box {
		height: 41.19vw;
		width: 50%;
		max-width: none;
	}
		
	.work-info {
		flex-flow: row wrap;
	}

	.work-info-left {
		width: 100%;
	}

	.work-info-rigth {
		width: 100%;
	}
	
	.work-info-left__img {
		height: 33vmax;
	}

	.work-info-left__headline {
		font-size: 3.25vw;
	}

	.work-info__title {
		font-size: 3.25vw;
	}
	
	.relate-proj-box__wrapper {
	    width: 17.5vw;
	    height: 13.48vw;
	}

	.relate-proj-box {
		justify-content: center;
	}
	
	.prj-info-list__item {
		font-size: 3.72vw;
		padding: 2.72vw 0;
	}

	.prj-info-list__img{
		margin-right: 1.78vw;
   		width: 5.56vw;
    	height: 5.56vw;
	}

	.tags-box {
		justify-content: space-between;
		margin-top: 3.66vw;
    	margin-bottom: 3.2vw;
	}

	.tags-box__link {
		font-size: 2.67vw;
	}

	.prj-gallery-box {
		margin-top: 1.93vw;
    	margin-bottom: 1.93vw;
	}
	
	.prj-gallery-box__wrapper {
		width: 11.06vw;
    	height: 11.06vw;
	}

	.Prj-features li {
		margin-bottom: 3vw;
		font-size: 3.73vw;
	}

	.Prj-features__img {
		height: 2.62vw;
   		width: 2.62vw;
   		margin-right: 1.62vw;
	}
	
	.Prj-features__list {
		margin-top: 2.78vw;
	}

	.about-info {
		flex-flow: row wrap;
	}

	.about-info-left {
		width: 100%;
	}

	.about-info-rigth {
		width: 100%;
	}

	.about-info-left__img {
		height: 37.72vw;
	}

	.about-info-left__headline {
		font-size: 2.25vw;
	}

	.about-info__title {
		font-size: 3.25vw;
	}

	.about-info__titleOur {
		font-size: 3.25vw;
	}

	.staff-block-box {
		height: 25.3vw;
	}

	.staff-block-you {
		height: 25.3vw;
	}

	.staff-block-you__text{
		padding: 3.99vw 2vw;
		font-size: 6.25vw;
	}

	.line-t{
		font-size: 2.5vw;
	}

	.line-b {
		height: 5.8vw;
	}

	.Testimonials-up {
		height: 12.2vw;
	}

	.Testimonials-up__wrapper {
		height: 12.2vw;
    	width: 12.2vw;
	}

	.Testimonials-up__text {
		font-size: 2.8vw;
	}

	.Testimonials-down {
		padding: 12.3vw 2.39vw 12.51vw 1.56vw;
		line-height: 4.56vw;
		font-size: 1.93vmax;
	}

	.Services-info__lists li {
		font-size: 1.73vw;
	}

	.post-wrap {
		flex-flow: column wrap;
	}

	.gallery-box {
		width: 100%;
		margin-bottom: 3.3vw;
	}
	
	.box-gal__image_size {
		height: 67.97vw;
	}
	.img-box {
		width: 100%;
		height: 66.64vw;
		margin-bottom: 3.3vw;
	}

	.gallery-box__description h2 {
		font-size: 2.93vw;

	}

	.gallery-box__text {
		font-size: 2.67vw;
    	line-height: 4.15vw;
	}

	.gallery-box__comment {
		height: 8.65vw;
	}

	.gallery-box__icon {
	    width: 4.67vw;
	    height: 5.78vw;
	    margin: 0 2.36vw 0 3.14vw;
}

	.another-box {
		width: 100%;
    	height: 13.13vw;
    	margin-bottom: 3.3vw;
	}

	.another-box h3 {
		font-size: 2.92vw;
	}

	.another-box__link{
		font-size: 2.73vw;
		margin-top: 2.46vw;
	}

	.box-video__image_size {
		height: 59.58vw;
	}

	.box-stand__image_size {
		height: 62.34vw;
	}

	.box-stand__image-center_size {
		height: 61.45vw;
	}

	.aside-box {
		width: 100%;
	}

	.aside-box-left {
		height: 21.29vw;
	}

	.aside-box-post {
		height: 21.29vw;
		padding: 3.25vw 1.35vw 1.14vw 1.25vw;
	}

	.aside-box-post h3 {
		font-size: 4.09vw;
	}
	
	.aside-box-post__text{
	    font-size: 3.73vw;
	    line-height: 4.25vw;
   		margin-top: 2vw;
	}

	.citation-box {
		width: 100%;
	}

	.citation-box__text {
		font-size: 3.09vw;
    	line-height: 4.35vw;
	}

	.citation-box__icon{
		width: 5.25vw;
    	height: 4.88vw;
	}

	.citation-box__author{
		font-size: 2.93vw;
	}

	.box-gal__image-last_size {
		height: 66.8vw;
	}
    
    .add-post{
    	font-size: 3vw;
    }

    .contact__form-wrapper {
    	width: 100%;
    }

	.blog-box-comment__wrap-img{
		width: 14.71vw;
   		height: 14.16vw;
	}

	.blog-box-comment__headline{
		font-size: 3.72vw;
	}

	.blog-box-comment__time-text{
		font-size: 3.72vw;
	}

	.blog-box-comment__text{
		font-size: 3.93vw;
    	line-height: 5.35vw;
	}

	.blog-box-comment__border{
		width: 47.63vw;
	}

	.form-icon{
		height: 9vw;
    	width: 9vw;
	}

	.form-icon__image{
		height: 7.56vw;
   		width: 7.56vw;
	}

	.blog-form__input input, .blog-form__input textarea {
		font-size: 1.72vmax;
    	min-height: 9vw;
	}

	.blog-right-form__textarea{
		height: 18.5vw;
	}

	.blog-right-form__button{
		height: 9vw;
		font-size: 2.72vw;
	}

	.contact-info__text{
		line-height: 3.5vw;
		font-size: 1.93vw;
	}
}