.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	height: 100vh;
	width: 15.62vw;
	background-color: #242b2e;
	color: #6b7072;
	box-shadow: 8px 0px 20px 0px rgba(31, 31, 31, 0.77);
	display: flex;
	flex-direction: column;
	flex-flow: column nowrap;

}

.logo {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	height: 11.57vh;
	background-color: #fff;
}
.logo_img {
	width: 6vw;
}
.nav li{
	list-style-type: none;
	border-bottom: 1px solid #293134;
}
.nav li:first-of-type {
	border-bottom: 0;
}
.nav__item {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.93vmax;
	line-height: 1.66vmax;
	height: 3.22vmax;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	background-color: #2f373b;
    background: rgba(51,59,63,1);
    background: -moz-linear-gradient(top, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,59,63,1)), color-stop(100%, rgba(46,54,58,1)));
    background: -webkit-linear-gradient(top, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    background: -o-linear-gradient(top, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    background: -ms-linear-gradient(top, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    background: linear-gradient(to bottom, rgba(51,59,63,1) 0%, rgba(46,54,58,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333b3f', endColorstr='#2e363a', GradientType=0 );
    padding-right: 1.3vmax;
}

.nav__item:hover {
	cursor: pointer;
	background: rgba(48,188,186,1);
    background: -moz-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,188,186,1)), color-stop(100%, rgba(24,164,162,1)));
    background: -webkit-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: -o-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    background: linear-gradient(to bottom, rgba(48,188,186,1) 0%, rgba(24,164,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bcba', endColorstr='#18a4a2', GradientType=0 );
}

.filter_title {
	color: #1ab5b3;
	fill: #1ab5b3;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	font-size: 0.98vmax;
	padding: 1.25vmax;
}

.filter__icon {
	width: 0.88vmax;
	height: 0.88vmax;
	margin-left: 0.62vmax;
}

.filter-list li{
  	list-style-type: none;
  	line-height: 1.25vmax;
  	display: flex;
 	flex-flow: row nowrap;
 	align-items: flex-end;
 	justify-content: flex-end;
 	align-items: center;

}

.filter-list__item {
	
	margin-right: 1.25vmax;
	color: #6b7072;
	font-size: 0.67vmax;
	line-height: 1.25vw;
	text-decoration: none;
	
}

.filter-list__item:hover {
	color: #fff;
}



.social-icon {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	padding: 1.45vmax 1.25vmax 1.2vmax 0;
	border-top: 1px solid #1e282b;
	width: 100%;
	margin-top: 1.56vmax;
}

.social-icon__image{
	width: 1.25vmax;
	height: 1.25vmax;	
}

.social-icon__link {
	margin-left: 0.52vmax;
}

.social-icon__link:hover {
	transform: scale(1.10);
}

.copy {
	font-size: 0.62vmax;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: center;
	width: 100%;
	padding-right: 1.25vmax;
	color: #6b7072;
}